body{
  margin: 0;
  color:#40514E;
  text-align:center;
  font-family: 'Merriweather', serif;
}
.link ul li {
    list-style-type:none;
    float :left;
    padding-right:30px;
    color:black;
}
.link ul{
    float:right;
}
.link{
    width:100%;
    height:45px;
    background-color:lightpink;
    position:fixed;
}
.link ul li a{
    text-decoration: none;
    color:white;
}
p{
  line-height: 2;
}

h1{
  margin:50px auto 0 auto;
  font-size:5.62rem;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  padding-bottom: 10px;
  font-size: 2.5rem;
}
h3{
  color: #11999E;
}
/*hr{
  border: dotted #000000 6px;
  width: 4%;
  border-bottom: none;
  margin: 6px auto;
}*/
a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
}
span{
  text-decoration: underline;
}
.top-container{
  color:#66BFBF;
  background-color: #CDF0EA;
  padding:60px;
}
.top-container p{
  font-weight: bold;
  margin:5px auto 10px auto;
  font-size:2.4rem;
}
.top-cloud{
  position: relative;
  left:225px;
  top:5px;
}
.bottom-cloud{
  position:absolute;
  left: 300px;
}
.profile{
  background-color: #C1AC95;
}
.hello{
  color: palegoldenrod;
}
.intro{
  width:25%;
  margin: auto;
  padding-bottom: 30px;
}
.inner{
  background-color: #C9E4C5;
  margin-bottom: 0;
  padding-top: 0;
}
.inner h1{
  padding: 50px;
  margin-top: 0;
}
.inner img{
  width: 8rem;
  height: 8rem;
}
.inner h2{
  width:25rem;
  height: 10rem;
  text-align: center;
}
.inner h3{
  width:21rem;
}
.inner h4{
  width: 17rem;
  text-align: center;
}
.top{
  display:inline-block;
}
.middle{
  display:inline-block;
}
.bottom{
  display: inline-block;
}
.skill-row img{
  float:left;
  margin-right: 20px;
  margin-left:200px;
  width:25%;
  height:auto;
  border-radius: 50%;
}
.skill-row2 img{
  float:right;
  margin-right: 100px;
  width:25%;
  height:auto;
  border-radius: 50%;
}
.skills{
  background-color: lightblue;
  margin-top: 0;
  padding-top: 0;
}
.improve{
  margin-top: 0px;
}
.skill-row{
  width:50%;
  margin:100px auto;
  text-align: left;
}
.skill-row2{
  width:50%;
  margin:100px auto 0px auto;
  padding-bottom: 30px;
  text-align: left;
}
.skill-row2 h3,table{
  margin:5px 50px 10px 200px
}
.middle-container{
  margin: 0;
}
.profile img{
  width:15%;
  height:15%;
  border-radius: 30%;
  margin-top: 50px;
}
.extra-skills img{
  width: 12rem;
  height: 12rem;
}
.hobby{
  margin-top: 0;
}
.extra-skills{
  padding: 0 30px 30px 30px;
  background-color: lightslategray;
  margin-bottom: 30px;
}
.extra-skills div{
  display: inline-block;
}
.tt{
  padding: 30px;
}
.cricket{
  padding: 30px;
}
.chess{
  padding: 30px;
}
.hobbytext{
  color: white;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin: 10px auto 10px auto;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color :#66BFBF;
  margin-top: 30px;
  padding-top:20px;
}
a{
  color:#11999E;
  font-family : 'Montserrat',sans-serif;
  padding-right: 1rem;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.bottom-container p{
  margin-bottom:0;
  padding-top: 10px;
  color:#EAF6F6;
  font-size: 0.80rem;
}
